In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_fwf("/content/drive/MyDrive/SCS3201_ML/Auto-mpg/auto-mpg.data",
                   names=["mpg","cylinders","displacement","horsepower","weight","acceleration","model_year","origin","car_name"])
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,"""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,"""buick skylark 320"""
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,"""plymouth satellite"""
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,"""amc rebel sst"""
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,"""ford torino"""
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,"""ford mustang gl"""
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,"""vw pickup"""
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,"""dodge rampage"""
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,"""ford ranger"""
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,"""chevy s-10"""

In [ ]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,"""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,"""buick skylark 320"""
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,"""plymouth satellite"""
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,"""amc rebel sst"""
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,"""ford torino"""
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,"""ford mustang gl"""
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,"""vw pickup"""
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,"""dodge rampage"""
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,"""ford ranger"""
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,"""chevy s-10"""

In [ ]:
data['horsepower'] = pd.to_numeric(data['horsepower'], errors='coerce')

In [ ]:
import math
median_horsepwr = math.floor(data.horsepower.median())
data.horsepower = data.horsepower.fillna(median_horsepwr)
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,"""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,"""buick skylark 320"""
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,"""plymouth satellite"""
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,"""amc rebel sst"""
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,"""ford torino"""
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,"""ford mustang gl"""
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,"""vw pickup"""
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,"""dodge rampage"""
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,"""ford ranger"""
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,"""chevy s-10"""

In [ ]:
data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(
    data[['cylinders',	'displacement',	'horsepower',	'weight',	'acceleration']],data.mpg,train_size=0.9,random_state=42
    )

In [ ]:
from sklearn.linear_model import LinearRegression
mlReg = LinearRegression()
mlReg.fit(X_train,y_train)

LinearRegression()

In [ ]:
mlReg.coef_

array([-0.17526546, -0.00552619, -0.04577902, -0.00515684, -0.08547735])

In [ ]:
mlReg.intercept_

46.90545253129112

In [ ]:
mlReg.predict(X_test)

array([32.53138514, 26.79812087, 25.29955833, 15.43289502, 13.79019298,
       29.40005558, 25.04287824,  7.87142521, 16.46998576, 24.21214186,
       14.06970729, 31.21896165, 30.66306758, 15.8176242 , 27.43549456,
        8.61144057, 27.03064392, 21.87574268, 12.34196365, 30.92515733,
       27.56909792, 24.4764395 , 23.56837372, 29.80363191, 18.76021869,
       30.20102869, 28.53757008, 25.84400215, 20.05908653,  9.27983038,
       25.77269726, 30.71814597, 16.24780113, 28.15874314, 30.94001301,
        9.89067956, 26.15455285, 18.38940329, 12.44425772, 29.00976054])

In [ ]:
mlReg.score(X_test,y_test)

0.7134825155207294